/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@font-face {
  font-family: "BlockForce";
  /* Ensure the filename matches exactly what is in assets/fonts/ */
  src: url("./assets/fonts/block-force.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-block-force {
  font-family: "BlockForce";
}
